AnchorPane > Button{
    -fx-background-color: #f49405;
    -fx-background-radius: 15;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.scroll-pane > .scroll-bar{
    -fx-pref-width: 10;
}
.scroll-pane > .scroll-bar .increment-button,.scroll-pane > .scroll-bar .decrement-button{
    -fx-opacity: 0;
}
.scroll-pane > .scroll-bar:vertical .thumb,.scroll-pane > .scroll-bar:horizontal .thumb{
    -fx-background-color: black;
}